<template>
  <div class="content">
    <div class="row">
      <div class="col-12">
        <card
        type="chart"
        >
        <template slot="header">
          <div class="row">
            <div class="col-sm-6" :class="isRTL ? 'text-right' : 'text-left'">
              <template v-if="!isRTL">
                <h5 class="card-category">First Gate</h5>
              </template>
              <template v-else>
                <h5 class="card-category">مجموع الشحنات</h5>
              </template>
              <template v-if="!isRTL">
                <h2 class="card-title">Attendance/ New Converts</h2>
              </template>
              <template v-else>
                <h2 class="card-title">  أداء</h2>
              </template>
            </div>
            <div class="col-sm-6">
              <div class="btn-group btn-group-toggle"
                   data-toggle="buttons"
                   :class="isRTL ? 'float-left' : 'float-right'">
                   <template v-if="!isRTL">
                     <label v-for="(option, index) in bigLineChartCategories"
                            :key="option"
                            class="btn btn-success btn-sm btn-simple"
                            :class="{active:bigLineChart.activeIndex === index}"
                            :id="index">
                        <input type="radio"
                              @click="initBigChart(index)"
                              name="options" autocomplete="off"
                              :checked="bigLineChart.activeIndex === index">
                        {{ option }}
                     </label>
                   </template>
                   <template v-else>
                     <label v-for="(option, index) in bigLineChartCategoriesAr"
                            :key="option"
                            class="btn btn-success btn-sm btn-simple"
                            :class="{active:bigLineChart.activeIndex === index}"
                            :id="index">
                        <input type="radio"
                              @click="initBigChart(index)"
                              name="options" autocomplete="off"
                              :checked="bigLineChart.activeIndex === index">
                        {{ option }}
                     </label>
                   </template>
              </div>
            </div>
          </div>
        </template>
          <bar-chart
                  class="chart-area"
                  chart-id="blue-bar-chart"
                  :chart-data="blueBarChart.chartData"
                  :gradient-stops="blueBarChart.gradientStops"
                  :extra-options="blueBarChart.extraOptions">
          </bar-chart>
        </card>

         <card
        type="chart"
        >
        <template slot="header">
          <div class="row">
            <div class="col-sm-6" :class="isRTL ? 'text-right' : 'text-left'">
              <template v-if="!isRTL">
                <h5 class="card-category">First Gate</h5>
              </template>
              <template v-else>
                <h5 class="card-category">مجموع الشحنات</h5>
              </template>
              <template v-if="!isRTL">
                <h2 class="card-title">Attendance/ F & B</h2>
              </template>
              <template v-else>
                <h2 class="card-title">  أداء</h2>
              </template>
            </div>
            <div class="col-sm-6">
              <div class="btn-group btn-group-toggle"
                   data-toggle="buttons"
                   :class="isRTL ? 'float-left' : 'float-right'">
                   <template v-if="!isRTL">
                     <label v-for="(option, index) in bigLineChartCategories"
                            :key="option"
                            class="btn btn-success btn-sm btn-simple"
                            :class="{active:bigLineChart.activeIndex === index}"
                            :id="index">
                        <input type="radio"
                              @click="initBigChart(index)"
                              name="options" autocomplete="off"
                              :checked="bigLineChart.activeIndex === index">
                        {{ option }}
                     </label>
                   </template>
                   <template v-else>
                     <label v-for="(option, index) in bigLineChartCategoriesAr"
                            :key="option"
                            class="btn btn-success btn-sm btn-simple"
                            :class="{active:bigLineChart.activeIndex === index}"
                            :id="index">
                        <input type="radio"
                              @click="initBigChart(index)"
                              name="options" autocomplete="off"
                              :checked="bigLineChart.activeIndex === index">
                        {{ option }}
                     </label>
                   </template>
              </div>
            </div>
          </div>
        </template>
          <bar-chart
                  class="chart-area"
                  chart-id="blue-bar-chart"
                  :chart-data="redBarChart.chartData"
                  :gradient-stops="blueBarChart.gradientStops"
                  :extra-options="blueBarChart.extraOptions">
          </bar-chart>
        </card>

          <card
        type="chart"
        >
        <template slot="header">
          <div class="row">
            <div class="col-sm-6" :class="isRTL ? 'text-right' : 'text-left'">
              <template v-if="!isRTL">
                <h5 class="card-category">First Gate</h5>
              </template>
              <template v-else>
                <h5 class="card-category">مجموع الشحنات</h5>
              </template>
              <template v-if="!isRTL">
                <h2 class="card-title">Attendance/ First Timers</h2>
              </template>
              <template v-else>
                <h2 class="card-title">  أداء</h2>
              </template>
            </div>
            <div class="col-sm-6">
              <div class="btn-group btn-group-toggle"
                   data-toggle="buttons"
                   :class="isRTL ? 'float-left' : 'float-right'">
                   <template v-if="!isRTL">
                     <label v-for="(option, index) in bigLineChartCategories"
                            :key="option"
                            class="btn btn-success btn-sm btn-simple"
                            :class="{active:bigLineChart.activeIndex === index}"
                            :id="index">
                        <input type="radio"
                              @click="initBigChart(index)"
                              name="options" autocomplete="off"
                              :checked="bigLineChart.activeIndex === index">
                        {{ option }}
                     </label>
                   </template>
                   <template v-else>
                     <label v-for="(option, index) in bigLineChartCategoriesAr"
                            :key="option"
                            class="btn btn-success btn-sm btn-simple"
                            :class="{active:bigLineChart.activeIndex === index}"
                            :id="index">
                        <input type="radio"
                              @click="initBigChart(index)"
                              name="options" autocomplete="off"
                              :checked="bigLineChart.activeIndex === index">
                        {{ option }}
                     </label>
                   </template>
              </div>
            </div>
          </div>
        </template>
          <bar-chart
                  class="chart-area"
                  chart-id="blue-bar-chart"
                  :chart-data="greenBarChart.chartData"
                  :gradient-stops="blueBarChart.gradientStops"
                  :extra-options="blueBarChart.extraOptions">
          </bar-chart>
        </card>
      </div>
    </div>
    <div class="row">
       <div class="col-lg-4">
        <card
        type="chart"
        cardCol
        >
        <template slot="header">
          <h5 class="card-category">{{$t('Income Trend')}}   </h5>
          <h3 class="card-title"><i class="tim-icons icon-coins text-info "></i></h3>
        </template>
          <bar-chart
                  class="chart-area"
                  chart-id="blue-bar-chart"
                  :chart-data="yellowBarChart.chartData"
                  :gradient-stops="blueBarChart.gradientStops"
                  :extra-options="blueBarChart.extraOptions">
          </bar-chart>
        </card>
      </div>
      <div class="col-lg-4">
        <card
        type="chart"
        cardCol
        >
        <template slot="header">
          <h5 class="card-category">{{$t('BENMP TREND')}}</h5>
          <h3 class="card-title"><i class="tim-icons icon-wallet-43 text-info "></i> </h3>
        </template>
          <bar-chart
                  class="chart-area"
                  chart-id="blue-bar-chart"
                  :chart-data="inkBarChart.chartData"
                  :gradient-stops="blueBarChart.gradientStops"
                  :extra-options="blueBarChart.extraOptions">
          </bar-chart>
        </card>
      </div>
    <div class="col-lg-4">
        <card
        type="chart"
        cardCol
        >
        <template slot="header">
          <h5 class="card-category">{{$t('Attendance / 2021 Target')}}</h5>
          <h3 class="card-title"><i class="tim-icons icon-check-2 text-info "></i> </h3>
        </template>
          <bar-chart
                  class="chart-area"
                  chart-id="blue-bar-chart"
                  :chart-data="niceBarChart.chartData"
                  :gradient-stops="blueBarChart.gradientStops"
                  :extra-options="blueBarChart.extraOptions">
          </bar-chart>
        </card>
      </div>
    </div>
  </div>
</template>
<script>

import {
  Card
} from "@/components/index";

import LineChart from '@/components/Charts/LineChart';
import BarChart from '@/components/Charts/BarChart';
import * as chartConfigs from '@/components/Charts/config';
import TaskList from './Dashboard/TaskList'
import UserTable from './Dashboard/UserTable'
import config from '@/config';

export default {
  components: {
    Card,
    LineChart,
    BarChart,
    TaskList,
    UserTable
  },
  data(){
    return{
      greenLineChart: {
        extraOptions: chartConfigs.greenChartOptions,
        chartData: {
          labels: ['JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
          datasets: [{
            label: "Data",
            fill: true,
            borderColor: config.colors.primary,
            borderWidth: 2,
            borderDash: [],
            borderDashOffset: 0.0,
            pointBackgroundColor: config.colors.primary,
            pointBorderColor: 'rgba(255,255,255,0)',
            pointHoverBackgroundColor: config.colors.primary,
            pointBorderWidth: 20,
            pointHoverRadius: 4,
            pointHoverBorderWidth: 15,
            pointRadius: 4,
            data: [80, 100, 70, 80, 120, 80],
          }]
        },
        gradientColors: config.colors.primaryGradient,
        gradientStops: [1, 0.2, 0],
      },
        blueBarChart: {
          extraOptions: chartConfigs.barChartOptions,
          chartData: {
            labels: ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN','JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
            datasets: [{
              label: "Attendance",
              fill: true,
              borderColor: config.colors.info,
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              data: [73, 59, 54, 63, 58, 63, 81, 61, 59],
               },
               {
              label: "New Converts",
              fill: true,
              borderColor: "orange",
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              data: [7, 1, 2, 16, 3, 2, 12, 0, 2],
          }]
          },
          
        gradientColors: config.colors.primaryGradient,
        gradientStops: [1, 0.4, 0],
      },
      redBarChart: {
          extraOptions: chartConfigs.barChartOptions,
          chartData: {
            labels: ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN','JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
            datasets: [{
              label: "Attendance",
              fill: true,
              borderColor: config.colors.info,
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              data: [73, 59, 54, 63, 58, 63, 81, 61, 59],
               },
               {
              label: "F&B",
              fill: true,
              borderColor: "orange",
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              data: [35, 26, 22, 25, 25, 14, 12, 17, 15],
          }]
          },
        gradientColors: config.colors.primaryGradient,
        gradientStops: [1, 0.4, 0],
      },
         greenBarChart: {
          extraOptions: chartConfigs.barChartOptions,
          chartData: {
            labels: ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN','JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
            datasets: [{
              label: "Attendance",
              fill: true,
              borderColor: config.colors.info,
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              data: [73, 59, 54, 63, 58, 63, 81, 61, 59],
               },
               {
              label: "First Timers",
              fill: true,
              borderColor: "orange",
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              data: [31, 1, 0, 6, 2, 9, 3, 5, 3],
          }]
          },
        gradientColors: config.colors.primaryGradient,
        gradientStops: [1, 0.4, 0],
      },
         yellowBarChart: {
          extraOptions: chartConfigs.barChartOptions,
          chartData: {
            labels: ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN','JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
            datasets: [{
              label: "Attendance",
              fill: true,
              borderColor: config.colors.info,
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              data: [11, 59, 54, 63, 58, 63, 81, 61, 59],
               },
               {
              
          }]
          },
        gradientColors: config.colors.primaryGradient,
        gradientStops: [1, 0.4, 0],
      },
         inkBarChart: {
          extraOptions: chartConfigs.barChartOptions,
          chartData: {
            labels: ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN','JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
            datasets: [{
              label: "Active Contributors",
              fill: true,
              borderColor: config.colors.info,
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              data: [4, 3, 9, 11, 1, 7, 8, 0, 0],
               },
               {
              label: "Amount",
              fill: true,
              borderColor: "orange",
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              data: [50, 90, 160, 210, 30, 230, 120, 0, 0],
          }]
          },
        gradientColors: config.colors.primaryGradient,
        gradientStops: [1, 0.4, 0],
      },
         niceBarChart: {
          extraOptions: chartConfigs.barChartOptions,
          chartData: {
            labels: ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN','JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
            datasets: [{
              label: "Sunday",
              fill: true,
              borderColor: config.colors.info,
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              data: [11, 59, 54, 63, 58, 63, 81, 61, 59],
               },
               {
              label: "Target",
              fill: true,
              borderColor: "orange",
              borderWidth: 2,
              borderDash: [],
              borderDashOffset: 0.0,
              data: [7, 1, 2, 16, 3, 2, 12, 0, 2],
          }]
          },
        gradientColors: config.colors.primaryGradient,
        gradientStops: [1, 0.4, 0],
      },
      purpleLineChart: {
        extraOptions: chartConfigs.purpleChartOptions,
        chartData: {
          labels: ['JUL', 'AUG', 'SEP', 'OCT', 'NOV'],
          datasets: [{
            label: "My First dataset",
            fill: true,
            borderColor: config.colors.danger,
            borderWidth: 2,
            borderDash: [],
            borderDashOffset: 0.0,
            pointBackgroundColor: config.colors.danger,
            pointBorderColor: 'rgba(255,255,255,0)',
            pointHoverBackgroundColor: config.colors.danger,
            pointBorderWidth: 20,
            pointHoverRadius: 4,
            pointHoverBorderWidth: 15,
            pointRadius: 4,
            data: [90, 27, 60, 12, 80],
          }]
        },
        gradientColors: ['rgba(66,134,121,0.15)', 'rgba(66,134,121,0.0)', 'rgba(66,134,121,0)'],
        gradientStops: [1, 0.4, 0],
      }
    }
  },
  computed:{
    enableRTL() {
      return this.$route.query.enableRTL;
    },
    isRTL(){
      return this.$rtl.isRTL;
    }
  },
  methods:{
    initBigChart(index) {
      let chartData = {
        datasets: [{
          fill: true,
          borderColor: config.colors.primary,
          borderWidth: 2,
          borderDash: [],
          borderDashOffset: 0.0,
          pointBackgroundColor: config.colors.primary,
          pointBorderColor: 'rgba(255,255,255,0)',
          pointHoverBackgroundColor: config.colors.primary,
          pointBorderWidth: 20,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 15,
          pointRadius: 4,
          data: this.bigLineChart.allData[index]
        }],
        labels: ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
      }
      this.$refs.bigChart.updateGradients(chartData);
      this.bigLineChart.chartData = chartData;
      this.bigLineChart.activeIndex = index;
    }
  },
  mounted(){
    this.i18n = this.$i18n;
    if (this.enableRTL) {
      this.i18n.locale = 'ar';
      this.$rtl.enableRTL();
    }
    this.initBigChart(0);
  },
  beforeDestroy() {
    if (this.$rtl.isRTL) {
      this.i18n.locale = 'en';
      this.$rtl.disableRTL();
    }
  }
}
</script>
<style>
</style>
