<template>
  <footer class="footer">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link">
         <router-link to="dashboard" >
            First Gate
            </router-link>
          </a>
        </li>
      </ul>
      <div class="copyright">
        &copy;
        {{ new Date().getFullYear() }} made with <i class="tim-icons icon-heart-2"></i> by
        <a href="javascript:void(0)" target="_blank">Benjamin</a> 0508951925.
      </div>
    </div>
  </footer>
</template>
<script>
</script>
<style>
</style>