<template>
  <div class="content">
    <div class="row">
      <div class="col-md-8">
        <edit-profile-form :model="model">
        </edit-profile-form>
      </div>
      <div class="col-md-4">
        <user-card :user="user"></user-card>
      </div>
    </div>
  </div>
</template>
<script>
import EditProfileForm from "./Profile/EditProfileForm.vue";
import UserCard from "./Profile/UserCard.vue";

export default{
  components:{
    EditProfileForm,
    UserCard
  },
  data() {
    return {
      model: {
        company: ' First Gate Church.',
        email: 'Ike@gmail.com',
        username: 'Rev Ike GALLEY',
        firstName: 'Ike',
        lastName: 'Galley',
        address: 'Lorem',
        city: 'Accra ',
        country: 'Ghana',
        about: ''
      },
      user: {
        fullName: ' Rev Ike Galley',
        title: 'Head Pastor',
        description: `lorem ipsum.`,
      }
    }
  }
}
</script>
<style>
</style>
